body {
  width: 800px;
  margin: auto;
  padding: 1vw;
}

#mySketch {
  /* background-color: #76b5a4; */
  height: 250px;
  padding: 2px;
}

a:link {
  color: white;
}

a:visited {
  color: black;
}

a:hover {
  color: pink;
}

a:active {
  color: black;
}

a {
  text-decoration: none;

}

 h1 {
  font-family: avenir;
  font-size: 70px;
  margin:20px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


section h2 {
  font-family: avenir;

}

ul li {
  font-size: 17px;
  font-family: 'Sarabun', sans-serif;
}

ol li {
  font-size: 17px;
  font-family: 'Sarabun', sans-serif;
}

footer {
  background-color: rgb(234, 132, 117);
  position: fixed;
  margin-top: 36px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  padding-left: 20px;
}
