body {
  width: 800px;
  margin: auto;
  padding: 2vw;
}

#mySketch {
  /* background-color: #76b5a4; */
  height: 250px;
  padding: 1px;
}

a:link {
  color: blue;
}

a:visited {
  color: black;
}

a:hover {
  color: pink;
}

a:active {
  color: red;
}

a {
  text-decoration: none;
}

div h1 {
  font-size: 50px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  border-radius: 20px;
  border-style: dotted;
  border-width: thin;
}


section h2 {
  padding-left: 30px;
  font-family: Century, sans-serif;
}

footer {
  background-color: rgb(135,206,235);
  position: fixed;
  margin-top: 36px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  padding-left: 20px;
}
