body {
  width: 100%;
  margin: auto;
  padding-left: 20vw;
  padding-top: 90px;
  }

.surveylogo {
  position:relative;
  left:0px;
  top:0px;
    width: 40%;
  }

h2 {
  font-family: avenir;
  font-size: 30px;
}

ol li {
  font-size:18px;
  /* font-family: 'Sarabun', sans-serif; */
    font-family: avenir;
}

a:link {
  color: white;
}

a:visited {
  color: black;
}

a:hover {
  color: pink;
}

a:active {
  color: white;
}

a {
  text-decoration: none;
}


footer {
  background-color: rgb(234, 132, 117);
  position: fixed;
  padding: 4px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

footer ul li a {
  color: white;
  font-family: 'Sarabun', sans-serif;
}
