* {
  box-sizing: border-box;
}

body {
  background-image: url("images/zenpage-01.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr .6fr .3fr;

}

#sandbox{
grid-row: 1;
padding-left: 12px;
}


#items{
  padding: 2em;
  grid-row: 2;
}

#itemboxes {
  padding-left: 2em;
    margin-left: 11em;
    margin-right: auto;
}

#itemboxes img:hover {
    transform: scale(1.2);
}


a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

a:active {
  color: black;
}

a {
  text-decoration: none;
}

footer {
  position: fixed;
  /* margin-top: 40px; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer ul li {
  display: inline-block;
  font-size: 90%;
  font-family: 'Josefin Sans', sans-serif;
  list-style-type: none;
  text-align: center;
  padding-left: 20px;
}
