/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .1fr .1fr;
  margin: auto;
} */

body {
  background: rgb(60,60,60);

}

#formSection {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  width:100%
}

header {
  font-family: Budmo;
  margin-left: auto;
  margin-bottom: -5%;
  min-width: 200px;
  font-size:40px;
  color: rgb(255, 88, 76);

}

h1 {
  margin-left: 5%;
}

h4 {
  padding-left: 20px;
  padding-top: 30px;
}

form {
  grid-column: 2/2;
  font-family: avenir;
  font-size: 17px;
  color:white;
  margin-left: 17%;
background-color: rgb(130, 130, 130);
}

div {
  padding: 5px;
  margin-left: 5%;
}

.film {
position: absolute;
text-align: center;
margin-top: -22%;
left: 33%;
}

#msgSection{
  padding: 4em;
  width:60%;
  font-family: rockwell;
  justify-content: center;
  font-kerning: auto;
  font-size: 20px;
  color: black;
}



#myMsg {
  position: absolute;
  top: 54%;
  left: 68%;
  transform: translate(-100%, -70%);
}



input[type="text"],
textarea {
  width: 30%;
  border-radius: 4px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background: linear-gradient(140deg, deeppink, #f96ec6);
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: pink;
}

a:active {
  color: black;
}

a {
  text-decoration: none;
}

footer {

  background-color:black;
  position: fixed;
  margin-top: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer ul li {
  display: inline-block;
  font-size: 17px;
  font-family: 'Sarabun', sans-serif;
  list-style-type: none;
  text-align: center;
  padding-left: 20px;
}
